/*sub1.css*/
@charset "utf-8";

section{display: flex; justify-content: center; align-items: center; color:#fff; font-size: 24px;}

section#cont1{height: 200px; background-color: #95e;}
section#cont2{height: 300px; background-color: #e59;}
section#cont3{height: 200px; background-color: #f50;}